<h1>Edit Picture</h1>

<p>
  <%= link_to "Back", @picture %>
</p>

<%= form_for @picture do |form| %>
  <p>
    <%= form.label "artist" %><br/>
    <%= form.text_field "artist" %>
  </p>
  <p>
    <%= form.label "title" %><br/>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "url" %><br/>
    <%= form.text_field "url" %>
  </p>
  <p>
    <%= submit_tag "Save" %>
  </p>
<% end %>