<h1 class="bottom-margin">Add a picture</h1>
<%= form_for @picture do |form| %>
  <p>
    <%= form.label "artist" %><br/>
    <%= form.text_field "artist" %>
  </p>
  <p>
    <%= form.label "title" %><br/>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "url", "URL" %><br />
    <%= form.text_field "url" %>
  </p>
  <p>
    <%= form.submit "Save", :class => "btn btn-default" %>
  </p>
<% end %>
<%= link_to "Back", pictures_url, {:class => "btn btn-default"} %>