<h1>Add a picture</h1>
<%= form_for @picture do |form| %>
  <p>
    <%= form.label "artist" %><br/>
    <%= form.text_field "artist" %>
  </p>
  <p>
    <%= form.label "title" %><br/>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "url" %><br />
    <%= form.text_field "url" %>
  </p>
  <p>
    <%= form.submit "Save" %>
  </p>
<% end %>